[submodule "tools/sunxi-tools"]
	path = tools/sunxi-tools
	url = https://github.com/Icenowy/sunxi-tools.git
	branch = f1c100s-spiflash
[submodule "uboot/u-boot-f1c100s"]
	path = uboot/u-boot-f1c100s
	url = https://github.com/Lichee-Pi/u-boot.git
	branch = nano-lcd800480
[submodule "rootfs/buildroot"]
	path = rootfs/buildroot
	url = git://git.buildroot.net/buildroot
[submodule "tools/crosstool-ng"]
	path = tools/crosstool-ng
	url = https://github.com/crosstool-ng/crosstool-ng
[submodule "kernel/linux"]
	path = kernel/linux
	url = https://github.com/Lichee-Pi/linux.git
	branch = nano-4.14-exp
